
/************** Global styles */
body {
  background-image: url("../images/felt-background1.jpg");
}

header {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin-top: 30px;
}

.white {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}


/**************Main Section*/

/*Error Message*/

.error {
  display: none;
  text-align: center;
}

/*Top Button*/

.spin-button {
    margin: 20px 0px;
    text-align: center;
    background-color: white;
}

/*Slot Area*/

.centered {
    margin-bottom: 10px;
    margin: 0px 20px 10px 20px;
    text-align: center;
    border-bottom: 1px solid #555;
}

.slots {
  width: 100%;
  margin: 0 auto;
}

.slot-container {
    text-align: center;
    margin: 0 auto;
    background-color: white;
}

.slotBox {
  border: 1px solid #333;
  width: 150px;
  height: 120px;
  margin: 15px 10px;
  padding: 8px 0px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.textBelow {
  font-size: 10px;
}

/*****************Bottom div*/

#attribution {
  display: none;
  text-align: center;
}
